@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using chickadee.Models
@using chickadee.Areas.Identity.Pages.Account
@using chickadee.Pages.Shared
@using chickadee.Data
@using Microsoft.EntityFrameworkCore
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@namespace chickadee.Areas.Identity.Pages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - chickadee</title>
     @Html.Partial("_Favicons")
    <environment include="Development">
        <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.css" />
        @* <link rel="stylesheet" href="~/Identity/css/site.css" /> *@
        <link rel="stylesheet" href="~/css/custom.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"
              asp-fallback-href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body class="cream">

@if (SignInManager.IsSignedIn(User))
{
    <header class="navbar navbar-dark sticky-top green flex-sm-nowrap d-md-none p-0">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 green" href="/"><img src="~/images/logoWhite-text.svg" class="img-fluid" width="115" height="auto"></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div class="container-fluid cream">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block green sidebar collapse" id="navbarNav">
                <div style="padding-left: 1.4em;margin-top: -1.15em;margin-bottom: 1.1em">
                    <a href="/">
                        <img src="~/images/logoWhite.svg" class="img-fluid" width="115" height="auto">
                    </a>
                </div>
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav nav-pills flex-column">
                        <partial name="/Areas/Identity/Pages/_ManageNav.cshtml"/>
                        <partial name="_LoginPartial"/>
                    </ul>
                </div>
            </nav>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <partial name="_CookieConsentPartial" optional/>
                <main role="main" class="p-5">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
       
}

<environment include="Development">
    <script src="~/Identity/lib/jquery/dist/jquery.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            asp-fallback-src="~/Identity/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj">
        </script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
</environment>
<script src="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>