@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        if (parentLayout != null)
        {
            Layout = (string)parentLayout;
        }
    }
    else
    {
        Layout = "Shared/_Layout";
    }
}

<div>
        @RenderBody()
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
