@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link href="/css/auth.css" rel="stylesheet">

<div>
        @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
