@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="lead">@ViewData["Title"]</h3>
<hr/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
