@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link href="/css/auth.css" rel="stylesheet">

<main class="form-signin w-100 m-auto">
    <div class="text-center">
        <img class="mb-2 float-left" src="/images/logo2.svg" alt="" width="180" height="100">
        <h1 class="mb-3 headingFont">Password Reset Confirmation</h1>
        <p class="mb-3">Please check your email to reset your password.</p>
    </div>
    <hr/>
        <p class="text-muted">Return to <a id="login" class="text-decoration-none" asp-page="./login">Login</a></p>
</main>
