@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<link href="/css/auth.css" rel="stylesheet">

<main class="form-signin w-100 m-auto">
    <div class="text-center">
        <img class="mb-2 float-left" src="/images/logo2.svg" alt="" width="180" height="100">
        <h1 class="mb-3 headingFont">@ViewData["Title"]</h1>
        <hr />
        <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
        <div class="row">
            <div class="col my-2">
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <input asp-for="RememberMe" type="hidden" />
                    <div class="form-floating my-2">
                        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                        <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                    </div>
                      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="float-start my-2">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMachine" class="form-label">
                                <input asp-for="Input.RememberMachine" />
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>
                    </div>
                    <div class="my-2">
                        <button type="submit" class="w-100 btn btn-lg btn-green">Log in</button>
                    </div>
                </form>
            </div>
        </div>
        <p>
            Don't have access to your authenticator device? You can
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
        </p>
    </div>
</main>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}