@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link href="/css/auth.css" rel="stylesheet">

<main class="form-signin w-100 m-auto">
    <div class="text-center">
        <img class="mb-2 float-left" src="/images/logo2.svg" alt="" width="180" height="100">
        <h1 class="h3 mb-3 headingFont">Sign in to chickadee</h1>
    </div>

    <form id="account" method="post" class="text-left">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Address" />
            <label asp-for="Input.Email" for="Input.Email" class="form-label"></label>
            <div class="mt-2"> <span asp-validation-for="Input.Email" class="text-danger"></span></div>
        </div>
        
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
            <label asp-for="Input.Password" for="Input.Password" class="form-label"></label>
            <div class="mt-1"><span asp-validation-for="Input.Password" class="text-danger mt-1"></span></div>

           
        </div>
        <div class="checkbox mb-3 float-left">
            <label asp-for="Input.RememberMe"  id="Input.RememberMe" class="form-label">
                <input class="form-check-input" for="Input.RememberMe" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        
        <div> 
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-green">Log in</button>
        </div>
        <div class="mt-2">
            <a id="forgot-password" class="text-decoration-none" asp-page="./ForgotPassword">Forgot your password?</a>
            <p>
                <a id="resend-confirmation" class="text-decoration-none" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
        </div>
        <hr/>
        <p class="text-muted">Don’t have an account? <a id="register" class="text-decoration-none" asp-page="./Register">Get Started</a></p>
        
    </form>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}