@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<link href="/css/auth.css" rel="stylesheet">

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <main class="form-signin w-100 m-auto">
                <div class="text-center">
                    <img class="mb-2 float-left" src="/images/logo2.svg" alt="" width="180" height="100">
                    <h1 class="mb-3 headingFont">Logout Confirmation</h1>
                    <p class="mb-3">You have successfully logged out of the application.</p>
                </div>
                <hr/>
                <p class="text-muted">Return to <a id="login" class="text-decoration-none" asp-page="./login">Login</a></p>
            </main>
        }
    }
</header>
