@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<link href="/css/auth.css" rel="stylesheet">

<main class="form-signin w-100 m-auto">
    <div class="text-center">
        <img class="mb-2 float-left" src="/images/logo2.svg" alt="" width="180" height="100">
        <h1 class="h3 mb-3 headingFont">Resend Email Confirmation</h1>
                <p class="mb-3">Please enter your email address to resend your confirmation email.</p>

    </div>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-floating mb-3">
                   <input asp-for="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Address" />
                   <label asp-for="Input.Email" for="Input.Email" class="form-label"></label>
                   <div class="mt-2"> <span asp-validation-for="Input.Email" class="text-danger"></span></div>
               </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
    </form>
    
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
