.cream {
    background: #EEEFDF;
}

.text-green {
    color: #103A31;
}
.green {
    background: #103A31;
}
.fa-table{
    font-size: 2rem;
    color: #103A31;
}


.yellow {
    background: #FFC933;
}


.gray {
    background: #545866;
}


.teal {
    background: #28AB99;
}


.purple {
    background: #DA78FF;
}

@font-face {
    font-family: chickadeeHeading;
    src: url("newake.otf");
}

@font-face {
    font-family: chickadeeText;
    src: url("SaphionLight.otf");
}

.headingFont {
    font-family: "chickadeeHeading", serif;
    font-size: 21px;
}

.subheadingFont {
    font-family: "chickadeeHeading", serif;
    font-size: 15px;
}


.textFont {
    font-family: "chickadeeText", serif;
}

.p{
    font-family: "chickadeeText", serif;
}

.btn-green {
    color: #fff;
    background-color: #103A31;
    border-color: #103a31;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
    color: #fff;
    background-color: rgba(16, 58, 49, 0.95);
    border-color: #103a31; /*set the color you want here*/
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.container-main {
    display: flex;
    flex-wrap: nowrap;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}

.green {
    background-color: #103A31;
}

@media only screen and (max-width: 768px) {


}

@media only screen and (min-width: 768px) {
    .navbar{
        width: 280px;
        margin-left: 10px;
        display: inline-block
    }
    .sidebar{
        height: 100vh;
    }
}


button.navbar-toggler span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav {
    color: #F2C94C;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    --bs-nav-link-hover-color: #EEEFDF;
    font-size: 0.875rem;
    font-family: Public Sans,sans-serif;

}



.nav-link {
    display: inline-block;
    color: #F2C94C;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    --bs-nav-link-hover-color: #EEEFDF;

}


.text-yellow {
    color: #F2C94C;
}

.nav-pills .nav-link.active,.nav-item:hover, .nav-pills .show>.nav-link{
    background-color: rgb(255, 255, 255, .05);
    color: #F2C94C;
    width: 100%;
}

.nav-pills .nav-link,.nav-item:hover, .nav-pills .show>.nav-link{
    color: #F2C94C;
}


.fa-nav {
    width: 30px;
    height: 22px;
}

.nav{
    --bs-nav-link-hover-color: #EEEFDF;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
}

