.cream {
    background: #EEEFDF;
}

.text-green {
    color: #103A31;
}
.green {
    background: #103A31;
}
.fa-table{
    font-size: 2rem;
    color: #103A31;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 40%);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.yellow {
    background: #FFC933;
}


.gray {
    background: #545866;
}


.teal {
    background: #28AB99;
}


.purple {
    background: #DA78FF;
}

@font-face {
    font-family: chickadeeHeading;
    src: url("newake.otf");
}

@font-face {
    font-family: chickadeeText;
    src: url("SaphionLight.otf");
}

.headingFont {
    font-family: "chickadeeHeading", serif;
    font-size: 21px;
}

.subheadingFont {
    font-family: "chickadeeHeading", serif;
    font-size: 15px;
}


.textFont {
    font-family: "chickadeeText", serif;
}


.btn-green {
    color: #fff;
    background-color: #103A31;
    border-color: #103a31;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
    color: #fff;
    background-color: rgba(16, 58, 49, 0.95);
    border-color: #103a31; /*set the color you want here*/
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.container-main {
    display: flex;
    flex-wrap: nowrap;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.green {
    background-color: #103A31;
}



button.navbar-toggler span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav {
    color: #F2C94C;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    --bs-nav-link-hover-color: #EEEFDF;
    font-size: 0.875rem;
    font-family: Public Sans,sans-serif;
}



.nav-link {
    display: inline-block;
    color: #F2C94C;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    --bs-nav-link-hover-color: #EEEFDF;

}


.text-yellow {
    color: #F2C94C;
}

.nav-pills .nav-link.active,.nav-item:hover, .nav-pills .show>.nav-link{
    background-color: rgb(255, 255, 255, .05);
    color: #F2C94C;
    width: 100%;
}

.nav-pills .nav-link,.nav-item:hover, .nav-pills .show>.nav-link{
    color: #F2C94C;
}


.fa-nav {
    width: 30px;
    height: 22px;
}

.nav{
    --bs-nav-link-hover-color: #EEEFDF;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

}
body {
    /* font-size: .875rem; */
}


/*
 * Sidebar
 */

.sidebar {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 40px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    #logo{
        display:none
    }
}

.sidebar-sticky {
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    /* top: .25rem; */
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}
 